@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to right,rgb(95, 171, 248), rgb(255, 119,100));
}
main{
    width: 500px;
    margin: auto;
    background: #fff;
    border-radius: 20px;
    padding: 64px;
}
main h2{
    text-align: center;
    padding: 34px 0px;
}
main form .form-group{
    margin: 14px 0px;
}
main form .form-group .input-group input{
    width: 100%;
    padding: 14px 24px;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    border-bottom: solid 1px lightgray;
    outline: none;
    border: none;

}
main form .form-group .input-group  {
    position: relative;
    display: flex;
}
main form .form-group .input-group span{
    position: relative;
    top: 10px;
    color: lightgray;

}
main form button{
    width: 100%;
    margin: 30px 0px;
    padding: 14px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(to right,rgb(95, 171, 248), rgb(255, 119,100));
    border-radius: 25px;
    border: none;

}
main a{
    display: flex;
    justify-content: end;
    color: brown;
}
main .social-icon p{
    text-align: center;
}
main .social-icon .icon{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    column-gap: 24px;
}
main .social-icon .icon img{
    width: 50px;
    height: 50px;
}